.header {
  display: flex;
  height: 80px;
  background-color: #fff;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  vertical-align: middle;
  padding-left: 22px;
}
