.articleCard {
  width: 900px;
  border: 1px solid #fff;
  margin-bottom: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
}

.articleHeader {
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.articleTags {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 4px;
}

.articleDescription {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 0.5);
}

.like {
  margin-left: 10px;
  height: 16px;
  width: 16px;
  margin-bottom: 3px;
  transition: 0.2s;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

.likeNum {
  margin-left: 5px;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 0.75);
  margin-bottom: 3px;
}

.articleTitle {
  color: #1890ff;
  font-size: 20px;
  margin: 0;
  margin-bottom: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 400px;
}

.articleUser {
  display: flex;
  padding-right: 0;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 16px;
}

.userName {
  font-size: 20px;
  padding: 0;
  margin: 0;
}

.date {
  margin: 0;
  color: #b3b0b0;
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  margin-top: 30px;
  gap: 12px;
  justify-content: flex-end;
}

.delete,
.edit {
  background: none;
  border: 1px solid #52c41a;
  color: #52c41a;
  border-radius: 5px;
  width: 80px;
  height: 20px;
}

.delete {
  border-color: red;
  color: red;
}

@media (max-width: 768px) {
  .article-card {
    max-width: 100%;
  }

  .article-title {
    font-size: 18px;
  }

  .user-name {
    font-size: 18px;
  }

  .article-header {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 480px) {
  .article-card {
    padding: 8px;
  }

  .article-title {
    font-size: 16px;
  }

  .user-name {
    font-size: 16px;
  }
}
